/* MISC */
html {
  position: relative;
  height: 100%;
  overflow-y: scroll !important;
}

body {
  min-height: 100%;
  cursor: default;
  display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.btn {
	transition: none;
	margin-bottom: .5em;
}

@media (max-width: 1199.98px) {
	.alert {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		margin-bottom: 0;
	}
}

.full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* MAIN */
@media (min-width: 1200px) {
	.main {
		display: flex;
	}
}

/* ARTICLE */
article {
	padding-left: 30px;
	padding-right: 30px;
}

@media (min-width: 1200px) {
	article {
		max-width: 1200px;
	}
}

/* ASIDE */
.aside {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	align-items: flex-start;
}

.aside .card {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}

.aside .card:last-of-type {
	margin-bottom: 0;
}

.aside .card-body {
	flex-direction: column;
	text-align: center;
}

.aside-algo-image {
	max-width: 80px;
	max-height: 80px;
	margin: auto;
}

.aside-links .card-header {
	border-bottom: none;
}

@media (min-width: 1200px) {
	.aside-left {
		min-width: max-content;
	}

	.aside-right {
		max-width: 500px;
	}
}

/* BOOKS */
.books {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	max-width: 1200px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.books-secondary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.books-secondary hr {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.book {
	text-align: center;
}

.books-secondary .book:last-child {
	margin-bottom: 0;
}

.book-image,
.book-title {
	margin-bottom: 1em;
}

.book-subtitle {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.2;
}

.book-image {
	max-width: 100px;
}

.book.naitre .book-image {
	max-width: 200px;
}

@media (min-width: 1200px) {
	.books {
		flex-direction: row;
		padding-left: 60px;
		min-height: 650px;
	}

	.books-main {
		margin-right: 45px;
	}

	.books-secondary hr {
		display: none;
	}

	.book {
		margin-bottom: 0;
	}
}

/* ICONS */
svg.bi {
  font-size: 1.1em;
  vertical-align: text-bottom;
  width: 1.25em;

  &.bi-box-arrow-up-right {
    vertical-align: sub;
    margin-left: .1em;
  }
}

/* FOOTER */
.footer {
	text-align: center;
	margin-top: 30px;
}
