/* MISC */
html {
  position: relative;
  height: 100%;
  overflow-y: scroll !important;
}

body {
  min-height: 100%;
  cursor: default;
  display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.btn {
	transition: none;
	margin-bottom: .5em;
}

.alert {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	margin-bottom: 0;
}

/* MAIN */
.main {
	/* display: flex; */
}

/* ASIDE */
.aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	align-items: flex-start;
}

.aside-algo {
	width: 100%;
}

.aside-algo .card-body {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.aside-algo-image {
	max-width: 80px;
	max-height: 80px;
	margin: auto;
}

.aside-jc {
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}

.aside-jc-text {
	text-align: center;
}

@media (min-width: 992px) {
	.main {
		display: flex;
	}
}

/* BOOKS */
.books {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	max-width: 1200px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.books-secondary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.books-secondary hr {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.book {
	text-align: center;
}

.books-secondary .book:last-child {
	margin-bottom: 0;
}

.book-image,
.book-title {
	margin-bottom: 1em;
}

.book-subtitle {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.2;
}

.book-image {
	max-width: 100px;
}

.book.naitre .book-image {
	max-width: 200px;
}

@media (min-width: 992px) {
	.books {
		flex-direction: row;
		padding-left: 60px;
	}

	.books-main {
		margin-right: 45px;
	}

	.books-secondary hr {
		display: none;
	}

	.book {
		margin-bottom: 0;
	}
}

/* FOOTER */
.footer {
	text-align: center;
	margin-top: 30px;
}

/* ICONS */
svg.bi {
  font-size: 1.1em;
  vertical-align: text-bottom;
  width: 1.25em;

  &.bi-box-arrow-up-right {
    vertical-align: sub;
    margin-left: .1em;
  }
}