@import 'https://fonts.googleapis.com/css?family=Open+Sans|Overlock';

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 16px;
	cursor: default;
	background-color: #f5f5f5;
}

.container-fluid {
	padding-top: 10px;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: #008AFF;
	text-decoration: none;
}

.block {
	display: block;
}

.titre-livre {
	font-family: 'Overlock', cursive;
}

.well {
	background-color: #fff;
}